@keyframes rotate {0% {transform: rotate(0);}100% {transform: rotate(360deg);}}
.tablass {
    float: left;
}.tablass [type=radio] {
    display: none;
}
[type=radio]:checked ~ label ~ .contenty {z-index: 2; transform: scale(1);}
.filohabi {
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    line-height: 100%;
}
.credito {
  margin: 10px auto;
  padding: 3px;
  font: 700 7px/100% montserrat;
  text-transform: uppercase;
  background: #FDFDFD;
  border: 1px solid #D0D0D0;
  border-radius: 20px;
  width: 100px;
  color: #555;
}
a {text-decoration:none;}
